table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  color: white;
  width: 65%;
  position: absolute;
  top: 10px;
}

td, th {
  border: 1px solid #eb6e25;
  text-align: left;
  padding: 8px;
  cursor: pointer;
  transition: ease 0.125s;
  z-index: 1;
  position: relative;
}

.lineStatus
{
  background-color: #eb6e25;
  color: #000000;
  border-radius: 3px;
  padding: 0 3px;
  position: absolute;
  right: 10px;
  z-index: 0;
}

.openedTd
{
  display: flex !important;
  transition: ease 0.125s;
}

.isTitle
{
  font-family: 'Courier New', Courier, monospace;
}

.clickedMore
{
  display: none;
  justify-content: center;
  margin: 10px 0;
}